body {
    overflow-x: hidden;
}

.col-md-5 {
    display: none !important;
}

.dataTables_paginate {
    padding: 0px !important;
    padding-right: 10px !important;
}

.form-inline {
    display: flex;
}

.form-select {
    width: 60px !important;
}

.pagination {
    margin: 0px !important;
}

.page-item {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

.row {
    justify-content: flex-end !important;
}

.sorting::after {
    content: none !important;
}

.sorting::before {
    content: none !important;
}

table.dataTable thead .sorting {
    background-image: none !important;
}







